---
layout: homepage
permalink: /
title: Home
---
<!--homescherm--> 
</div>
<div class="container-fluid start">
    <div class="">
        <div class=" row">
            <div class=" col-xs-12 col-sm-4 offset-sm-1">
                <img class="img-responsive" id="start-logo" src="{{ 'assets/images/logo.png' | relative_url }}" alt="logo">
            </div>
            <div class="col-xs-12 col-sm-6 offset-sm-1" id="start-tekst">
                <h1>GymCity</h1>
                <h2>Sporten is een spel, maak jouw wereld terug fit</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 offset-sm-1" id="download">
                <img class="img-responsive" src="{{ 'assets/images/appstore-knop.png' | relative_url }}" alt="appstore">
                <img class="img-responsive" src="{{ 'assets/images/googleplay-knop.png' | relative_url }}" alt="Google playstore">
            </div>
            <div class="col-xs-12 col-sm-6 offset-sm-1" id="start-navigatie">
                <a href="#app" class="btn btn-primary">De app</a>
                <a href="#nieuws" class="btn btn-primary">Nieuws</a>
                <a href="#contact" class="btn btn-primary">Contact</a>
                <a href="#doneer" class="btn btn-primary" id="doneer-button">Doneer</a>
            </div>
        </div>
    </div>
    
</div>

<header id="header_home">
    {% include components/navbar.html %}
</header>

<!--DE APP-->
<div class="container-fluid">
<div class="item row" id="app">
    <div id="carouselExampleIndicators" class="carousel slide col-sm-10 offset-sm-1" data-ride="carousel">
        <ol class="carousel-indicators"> <!-- indicatoren van de hoeveelste slide -->
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">1</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1">2</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2">3</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3">4</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4">5</li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm-3 offset-sm-1">
                        <img class="d-block img-fluid" src="{{ 'assets/images/stappen/stap1.png' | relative_url }}" alt="Stap 1">
                    </div>
                    <div class="col-sm-6 offset-sm-1">
                        <h2>Kies je activiteit</h2>
                        <p>Wanneer je gaat sporten kies je eerst de activiteit die je zal beoefenen. Hierdoor krijgt GymCity de juiste gegevens en resultaten en krijg jij het juiste aantal energiepunten.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-3 offset-sm-1">
                        <img class="d-block img-fluid" src="{{ 'assets/images/stappen/stap2.png' | relative_url }}" alt="Stap 2">
                    </div>
                    <div class="col-sm-6 offset-sm-1">
                        <h2>Sport met je smartwatch</h2>
                        <p> Je smartwatch kan een handige tool zijn. Deze registreert vanzelf al jouw bewegingen en kent daar de juiste resultaten aan toe. Wanneer je synchroniseert met je smartphone kan je deze dan op je app bekijken.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-3 offset-sm-1">
                        <img class="d-block img-fluid" src="{{ 'assets/images/stappen/stap3.png' | relative_url }}" alt="Stap 3">
                    </div>
                    <div class="col-sm-6 offset-sm-1">
                        <h2>Verdien energie</h2>
                        <p> Met elke beweging of sport die je smartwatch of smartphone registreert krijg jij nieuwe energie! Hoe meer je sport, hoe meer energie je verdient.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-3 offset-sm-1">
                            <img class="d-block img-fluid" src="{{ 'assets/images/stappen/stap4.png' | relative_url }}" alt="Stap 4">
                        </div>
                    <div class="col-sm-6 offset-sm-1">
                        <h2>Maak je stad fit</h2>
                        <p> Deze energiepunten kan je gebruiken in het spel. Je stad is ongezond en heeft jou nodig! Gebruik je energie om mensen te doen sporten en om sportinstellingen zoals een fitness of een atletiekpiste te bouwen. Zo wordt je stad terug fit, en jij ook!</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-3 offset-sm-1">
                            <img class="d-block img-fluid" src="{{ 'assets/images/stappen/stap5.png' | relative_url }}" alt="Stap 5">
                        </div>
                    <div class="col-sm-6 offset-sm-1">                
                        <h2> Bekijk je sportresultaten</h2>
                        <p>Op je smartphone kan je aan de hand van grafieken raadplegen wat je resultaten zijn. Wanneer ben je het actiefst? Hoeveel calorieën heb je nu eigenlijk verbrand tijdens het lopen? Je vindt het allemaal hier terug.</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!--NIEUWS-->
<div class="item nieuws" id="nieuws">
    <div class="row" id="nieuws-intro">
        <!--titel-->
        
        <div class="col-lg-4 offset-lg-1">
            <h2>Nieuws</h2>
            <p> Blijf hier up to date met onze vorderingen en volg ons nieuws alsof je er zelf bij was! Je kan je hieronder ook inschrijven voor onze nieuwsbrief.</p>
            <form class="form-nieuwsbrief" method="get">
                <div class="form-group nieuwsbrief" id="nieuwsbrief">
                    <input type="email" class="form-control" id="nieuwsbrief_email" placeholder="e-mail">

                    <a href="{{ 'pages/ingeschreven' | relative_url }}" class="btn" id="nieuwsbrief_button"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                    <div class="fiets" id="fiets">
                        <i class="fa fa-bicycle"  aria-hidden="true"></i>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row nieuwsposts">
        <div class="col-xs-12 col-md-4 offset-md-1 col-md-offset-right-1">
            <div class="row">
                <a href="{{ 'post0/2017/06/01/ontwerpspel.html' | relative_url }}">
                    <div class="card nieuwspost jumbotron">
                        {% for post in site.categories.post0 %}
                            {{ post.content }}
                        {% endfor %}
                    </div>
                </a>
            </div>

        </div>

        <div class="col-xs-12 col-md-4 offset-md-1 col-md-offset-right-1">
            <div class="row">
                <a href="{{ 'post1/2017/05/01/eersteversie.html' | relative_url }}">
                    <div class="card nieuwspost jumbotron">
                        {% for post in site.categories.post1 %}
                            {{ post.content }}
                        {% endfor %}
                    </div>
                </a>
            </div>

        </div>

        <div class="col-xs-12 col-md-4 offset-md-1 col-md-offset-right-1">
            <div class="row">
                <a href="{{ 'post2/2017/05/02/bedankt!.html' | relative_url }}">
                    <div class="card nieuwspost jumbotron">
                        {% for post in site.categories.post2 %}
                            {{ post.content }}
                        {% endfor %}  
                    </div>
                </a>
            </div>     
        </div>

        <div class="col-xs-12 col-md-4 offset-md-1 col-md-offset-right-1">
            <div class="row">
                <a href="{{ 'post3/2017/05/04/Bewezen.html' | relative_url }}">
                    <div class="card nieuwspost jumbotron">
                        {% for post in site.categories.post3 %}
                            {{ post.content }}
                        {% endfor %} 
                    </div>
                </a>  
            </div>      
        </div>

        <div class="col-xs-12 col-md-4 offset-md-1 col-md-offset-right-1">
            <div class="row">
                <a href="{{ 'post4/2017/05/10/Decathlon.html' | relative_url }}">
                    <div class="card nieuwspost jumbotron">
                        {% for post in site.categories.post4 %}
                            {{ post.content }}
                        {% endfor %}    
                    </div>
                </a>     
            </div>
        </div>

        <div class="col-xs-12 col-md-4 offset-md-1 col-md-offset-right-1">
           <div class="row">
                <a href="{{ 'post5/2017/05/15/Eline.html' | relative_url }}">
                    <div class="card nieuwspost jumbotron">
                        {% for post in site.categories.post5 %}
                            {{ post.content }}
                        {% endfor %} 
                    </div>
                </a>
           </div>        
       </div>
    </div>
    <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-4 offset-md-4">
        <a href="{{ 'pages/allenieuws.html' | relative_url }}" class="submit btn btn-primary btn-gradient"><span>Meer nieuws</span></a>
    </div>
</div>



<!--DONEER-->
<div class="item" id="doneer">
    <div class="row">
        <div class="col-lg-5 offset-lg-1">
            <h2>Doe een bijdrage</h2>
            <p>Om deze app helemaal te maken zoals wij willen, met alle functies en puntjes op de i, hebben we nog wat centjes nodig. Daarvoor hebben we jouw hulp nodig. <a href="{{ 'pages/bijdragers.html' | relative_url }}">Hier vind je een lijstje van jouw voorgangers, mensen die we voor eeuwig dankbaar zullen zijn.</a></p>
        </div>
        <div class="col-lg-4 offset-lg-1 geld">
            <p class="bedragnu">Nu: €10.436&nbsp;</p>
            <div class="progress">
                <br><div class="progress-bar" role="progressbar" style="width: 67%;" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="bedragdoel"><p class="doel">Doel: €15.000</p></div>
        </div>
    </div>

    <div class="row doneer">
            <div class="col-sm-12 col-lg-4">
                <a href="{{ 'pages/betalen.html' | relative_url }}">
                    <div class="card">
                        <h3 class="card-header">€20</h3>
                        <div class="card-block">
                            <h4 class="card-title">Goed bezig!</h4>
                            <p class="card-text">Een <span class="nadruk">virtueel vuistje</span> komt jouw richting uit! We zijn je enorm dankbaar, want alle hulp is welkom. In je mailbox vind je een downloadlink naar de betaversie van de app.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4">
                <a href="{{ 'pages/betalen.html' | relative_url }}">
                    <div class="card">
                        <h3 class="card-header">€100</h3>
                        <div class="card-block">
                            <h4 class="card-title">Nog beter zelfs!</h4>
                            <p class="card-text">We zijn je eeuwig dankbaar. In je mailbox vind je een downloadlink naar de betaversie van de app. Ook zal er in de volgende nieuwsbrief <span class="nadruk"> een ode aan jou</span> worden geschreven.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4">
                <a href="{{ 'pages/betalen.html' | relative_url }}">
                    <div class="card">
                        <h3 class="card-header">€500</h3>
                        <div class="card-block">
                            <h4 class="card-title">Jackpot!</h4>
                            <p class="card-text"><span class="nadruk"> Jij bent onze persoonlijke held!</span> In je mailbox vind je een downloadlink naar de betaversie van de app. Binnenkort verschijnt jouw naam ook bij de bijdragers. Een ode zal niet ontbreken.</p>
                        </div>
                    </div>
                </a>
            </div>
    </div> 

    <div class="row">
        <div class="col-md-4 offset-md-8">
            <a href="{{ 'pages/anderbedrag.html' | relative_url }}" class="submit btn btn-primary btn-gradient pull-right"><span>Kies een ander bedrag</span></a>
        </div>
    </div>
</div>



    
