.styleguide h2{
    font-size: 3.5em;
}
.styleguide h3{
    font-size: 1.5em;
    margin-top:40px;
    margin-bottom: 20px;
}
.styleguide h4{
    font-size: 1.2em;
    margin-top:20px;
    margin-bottom: 15px;
}
.styleguide{
    margin-top:-40px;
}

.kleurtje{
    height: 250px;
}

#kleur_groen .kleurtje{
    background-color: $groen;
}
#kleur_lichtgroen .kleurtje{
    background-color: $lichtgroen;
}
#kleur_gradient .kleurtje{
    background: -webkit-linear-gradient(90deg, $groen, $lichtgroen); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, $groen, $lichtgroen); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, $groen, $lichtgroen); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, $groen, $lichtgroen); /* Standard syntax */
}
#kleur_grijs1 .kleurtje{
    background-color: $grijs1;
}
#kleur_grijs2 .kleurtje{
    background-color: $grijs3;
}
#kleur_grijs3 .kleurtje{
    background-color: $grijs2;
}

#style_kleuren .card-block{
    min-height: 200px;
}

#style_kleuren .kleur_value {
    float: right;
}
#style_kleuren ul{
    list-style-type: none;
    padding: 0;
}

.styleguide .card{
    border-radius: 0;
}

#style_screendesign img{
    margin:10px;
    border: 1px solid $grijs2;
}
#knoppen .card{
    min-height: 100px;
}
#knoppen .navknoppen a{
    margin: 50px auto;
    text-decoration: none;
    border-radius: 0;
    width: 50%;
    margin-left: 25%;
}
#knoppen #nav_normaal a:hover{
    background-color: $grijs2;
}
#knoppen #nav_hover a{
    background-color: $grijs3;
}
#knoppen #nav_active a, #knoppen #nav_doneer_normaal a{
    background-color: $lichtgroen;
}
#knoppen #nav_doneer_hover a{
    background-color: $groen;
}

#knoppen .gradientknoppen a{
    margin: 50px auto;
    width: 50%;
    margin-left: 25%;
}
#knoppen .gradientknoppen #gr_active a{
    background: -webkit-linear-gradient(90deg, rgb(203,212,93), rgb(153,192,125)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgb(203,212,93), rgb(153,192,125)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgb(203,212,93), rgb(153,192,125)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, rgb(203,212,93), rgb(153,192,125)); /* Standard syntax */
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}


#knoppen .submit:hover span {
  padding-right: 0;
}

#knoppen .submit:hover span:after {
  opacity: 0;
  right: 0;
}



.gradientknoppen{
    width: 100%;
}
.navknoppen a:hover{
    border-color:transparent;
}
