// Vendors
@import
  '_vendors/bootstrap-custom';

// Components
@import
  '_components/buttons';
@import
  '_components/navbar';

@import
  '_components/posts';


// Themes
@import
  '_themes/styleguide';

/* PUT YOUR (S)CSS BELOW THIS LINE */

body{
  font-family:oswald;
  font-weight: 300;
  line-height:200%;
  font-size:14pt;
}

#vraag .form-control{
  font-family:oswald;
  font-weight: 300;
  line-height:200%;
  font-size:14pt;
}
.form-control{
  font-size: 1.5rem;
} 
.page{
  margin-top:50px;
}
.item{
  margin-top:150px;
  margin-bottom:50px;
}
.item#app{
  margin-top:0;
}
.inhoud{
  margin-top:150px;
}

// andere pagina's //////////////////////////////

// ingeschreven

.ingeschreven h1{
  font-size: 3.5em;
  margin-top:20px;
  margin-bottom: 50px;
}
.ingeschreven p, .ingeschreven a{
  margin-bottom: 50px;
}



// einde andere pagina's ////////////////////////






.img-responsive{
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  width: auto;
}


h1{
  font-weight: 700;
}

h2{
  font-weight: 400;
  font-size: 4rem;
  margin-top:30px;
}

a{
  color:rgb(80,80,80);
  text-decoration: underline;
  cursor: pointer;
}

.nieuwsposts a{
  text-decoration: none;
}

.nieuwsbrief .form-group{
  position: relative;
}




//carousel
.carousel-item img{
  width: 100%;
  max-width: none;
}
.carousel-item p{
  padding-left: 50px;
}
.carousel{
  height: 500px;
  background-color: $grijs1;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  border: 3px solid $grijs3;
  border-radius: 30px;
  position: relative;
}
.carousel-indicators li{
  width: 30px; height: 30px;
  border-radius: 50%;
  text-indent: 0;
  text-align: center;
  background-color: $grijs3;
  line-height: 150%;
  float: none;
  display: block;
  margin: 10px;
  border-color:transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.carousel-indicators li:hover {
  background-color: $grijs2;
  color: white;
}
.carousel-indicators .active{
  background-color: $lichtgroen;
  color: white;
  width: 30px; height: 30px;
  margin: 10px;
}
.carousel-indicators {
  position: absolute;
  right: -6px;
  display: block;
  margin: 0;
  left: initial;
  top: 50%;
  position: absolute;
  width: 30px;
  transform: translateY(-50%);
}



//fietserke
#nieuwsbrief_email, #nieuwsbrief_button{
  height: 50px;
  border-radius: 15px;
  border-width: 1px;
}


#nieuwsbrief_email{
  width: 81%;
  display: inline-block;
  padding-left: 40px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  z-index: 1;
  border-right: none;
  left: 0; top:0;
  margin-top:0;
}
 #nieuwsbrief_button{
   margin-left:-5px;
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
   position: absolute;
   right:0;
   top:0;
   z-index: 5;
   background-color: $groen;
   color: white;
   width: 20%;
   border-left: none;
 }
.fiets {
  z-index: 3;
  position: absolute;
  left:10px;
  top:5px;
  width: 30px;
  -webkit-transition: all 6s ease-in-out;
  -moz-transition: all 6s ease-in-out;
  -o-transition: all 6s ease-in-out;
  -ms-transition: all 6s ease-in-out;
  transition: all 6s ease-in-out;
}

.gefietst{
  left: 9999px;
}

.nieuwsbrief{
  width: 100%;
  position: relative;
  height: 80px;
  overflow: hidden;
}

//progress bar
.progress-bar{
  height:20px;
  color:#fff;
  padding:20px;
  margin-top:-10px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background: -webkit-linear-gradient(90deg, $groen, $lichtgroen); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, $groen, $lichtgroen); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, $groen, $lichtgroen); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, $groen, $lichtgroen); /* Standard syntax */
}

.progress{
  border-radius: 20px;
  margin-top:60px;
}

.bedragnu{
  height:100px;
  position: absolute;
  z-index: 9;
  border-right:2px solid rgb(199,199,199);
  margin-left:214px;
  margin-top:-20px;
}
.bedragdoel{
  width:100px;
  height:90px;
  position: absolute;
  z-index: 9;
  border-right:2px solid rgb(199,199,199);
  margin-top:-30px;
  margin-left:345px;
  
}
.doel{
  position: absolute;
  margin-top:50px;
  text-align:right
}
.geld{
  margin-top:50px;
}



.item::before { //waarom werkt dit niet?? --> nav naar juiste plaats ///////////////////////////////////////////////////////////////////////////////////
  content:"";
  display:block;
  height:100px; /* fixed header height*/
  margin:-100px 0 0; /* negative fixed header height */
}






//footer

footer{
  background-color:$grijs1;
  padding: 0;
  margin-top: 50px;
}

.footer h3{
  font-size: 100px;
  line-height: 150px;
}

.gegevens .fa{
  color: $groen;
}
.gegevens .nieuwsbrief a .fa{
  color: white;
}

input, textarea{
  margin: 20px 0;
}
.inschrijven{
  font-weight: 600;
  margin: 20px 0;
}
.groen{
  background-color: $lichtgroen;
  padding: 50px;

}
.contact-grijs{
  padding: 0 50px;
  margin-bottom: 50px;
}
.groen a{
    color: white;
    text-decoration: none;
}
.groen .links-paginas{
  margin-bottom: 50px;
}
.social-media img{
  width: 20%;
  margin-right:20px;
  max-width: 50px;
}
.social-media{
  vertical-align: middle;
  display: inline-block;
}


//bijdrage 
.nadruk{
  font-weight: 500;
}
.doneer{
  margin-top:50px;
}
.card{
  min-height: 300px;
  position: relative;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}
.card:before, .card:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: $grijs2;
  -webkit-box-shadow: 0 15px 10px $grijs2;
  -moz-box-shadow: 0 15px 10px $grijs2;
  box-shadow: 0 15px 10px $grijs2;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.card:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.doneer .card-header{
  color: white;
  text-align: center;
  font-weight: 600;
  border-color: transparent;
  font-size: 1.8em;
}
.doneer .card{
  background-color: $grijs1;
  border-bottom-left-radius: 0; 
  border-bottom-right-radius: 0; 
  border-color: transparent;
}
.doneer div:nth-child(1) .card-header{
  background: -webkit-linear-gradient(90deg, rgb(130,175,144), rgb(144,182,136)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgb(130,175,144), rgb(144,182,136)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgb(130,175,144), rgb(144,182,136)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, rgb(130,175,144), rgb(144,182,136)); /* Standard syntax */
}
.doneer div:nth-child(2) .card-header{
  background: -webkit-linear-gradient(90deg, rgb(158,188,128), rgb(171,195,119)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgb(158,188,128), rgb(171,195,119)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgb(158,188,128), rgb(171,195,119)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, rgb(158,188,128), rgb(171,195,119)); /* Standard syntax */
}
.doneer div:nth-child(3) .card-header{
  background: -webkit-linear-gradient(90deg, rgb(184,201,109), rgb(196,208,98)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgb(184,201,109), rgb(196,208,98)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgb(184,201,109), rgb(196,208,98)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, rgb(184,201,109), rgb(196,208,98)); /* Standard syntax */
}
a .card:hover{
  transform:scale(1.1);
}
// .card:hover:after, .card:hover:before{
//   z-index: -1;
// }
.doneer > div[class*='col-'] > a{
  text-decoration: none;
  color: inherit;
}
.doneer .card-block{
  position: absolute;
  top:50%;
  transform: translateY(-40%);
}
.card-block h4{
  font-size: 1.8em;
}
#doneren{
  margin-top:150px;
  margin-bottom: 150px;
}



//nieuws

.col-md-offset-right-1 {
  margin-right: 8.33333333%;
}
.nieuwspost{
  background-color: $grijs1;
  border-radius: 15px;
  // box-sizing: content-box;
}
.nieuws{
  background-image: url("../images/nieuws/nieuws-klimmer.png");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 15%;
  padding-top:30px;
}
.nieuwspost h2{
  color: $groen;
}

.nieuwspost h3{
  color: $groen;
}
.nieuws .submit{
  width: 100%;
  margin-bottom: 0;
  margin-top:0;
  padding: 10px;
}
#nieuws-intro{
  margin-bottom: 50px;
}


// start
.start{
  width: 100%;
  position: relative;
  padding: 0 !important;
  margin: 0 auto !important;
  background-size: cover;
  overflow: hidden;
}
.start::after {
  content: "";
  background: url(" ../images/fitness_home.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-size: auto 100%;
  background-repeat: no-repeat;
  min-width: 100%;
}
#start-logo{
  position: relative;
  width: 100%;
  opacity: 0.5;
}
#start-tekst{
  position: absolute;
  top:20px;
  left: 0;
  width: 100%;
  margin-top:20%;
}
#start-tekst h1{
  font-size: 3.5em;
}
#start-tekst h2{
  margin-left: 50px;
  font-size: 1.4em;
}
#start-navigatie{
  visibility: hidden;
  margin: 0 auto;
}
#start-navigatie a{
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
  text-decoration: none;
  width: 20%;
  border-radius: 0;
}
#start-navigatie button:hover{
  background-color: $grijs2;
  transform: scale(1.15);
}
#start-navigatie #doneer-button{
  background-color: $lichtgroen;
}
#download img{
  width: 48%;
  display: inline;
}

#betaalform{
  width: 100%;
}
#betaalform .form-group{
  padding: 0;
  margin-top:20px;
}


// bijdragers
.bijdragers div{
  margin-top:60px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { 
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}





/* Extra small devices (phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 480px and up) */
  @media (min-width: 480px) { 
  .card{
    min-height: 250px;
  }
  
  
  
}

/* Medium devices (desktops, 768px and up) */
@media (min-width:768px) { 
  .groen-inhoud{
    position: absolute;
    bottom:50px;
  }
  .card{
    min-height: 400px;
  }
  #start-tekst h1{
    font-size:7em;
  }
  #start-tekst h2{
    font-size:2.5em;
  }
  #start-tekst{
    margin-top:15%;
  }
 .start{
   margin-top:10%;
 }
  .footer::before{
    height: 0;
  }
  .footer{
    margin-bottom: 0;
  }
  #start-tekst{
    position: relative;
    margin-top:5%;
  }
  #start-tekst h2{
    font-size: 1.2em;
  }
  #start-navigatie{
    visibility: visible;
  }
  .contact-grijs{
    padding: 0 100px;
  }
  .start::after{
    background-size:  100% auto;
    visibility: visible;
  }
  #start-logo{
    opacity: 1;
  }
}



/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) { 
  
 }