#scroll-to-top {
  $offset: 1.5em; // 16px * 1.5 = 24 px | we zetten dit in een variabele zodat we makkelijk bottom en right gelijk kunnen houden
  bottom: $offset; // $ wil zeggen dat het een variabele is
  cursor: pointer;
  display: none; // verborgen tot je begint te scrollen
  position: fixed;
  right: $offset;
  border-radius: 50%;
  padding: 0 .5rem !important;
  background-color: $grijs2;
  color: white;
  z-index: 999;
}
#scroll-to-top:hover{
  background-color: $groen;
}

#scroll-to-top .fa{
  margin-bottom:15px;
}

.btn{
  font-family:oswald;
  font-weight: 300;
  line-height:25pt;
  font-size:12pt;
    box-shadow: none;
  border-color:transparent;
}

.submit, .submit-links{
  margin: 10px 0;
  width: 50%;
  background: -webkit-linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* Standard syntax */
  cursor: pointer;
  transition: all 0.5s;
  color: white;
  font-size: 1.1em;
}
.submit:hover, .submit-links:hover{
  border-color:transparent;
}
.submit:active, .submit-links:active{
  border-color:transparent;
  background: -webkit-linear-gradient(90deg, rgb(203,212,93), rgb(153,192,125)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgb(203,212,93), rgb(153,192,125)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgb(203,212,93), rgb(153,192,125)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, rgb(203,212,93), rgb(153,192,125)); /* Standard syntax */
}
.submit:active:hover, .submit-links:active:hover{
  border-color:transparent;
}
.submit span, .submit-links span{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.submit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.submit-links span:before{
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}
.submit:hover span {
  padding-right: 25px;
}
.submit-links:hover span {
  padding-left: 25px;
}
.submit:hover span:after {
  opacity: 1;
  right: 0;
}
.submit-links:hover span:before {
  opacity: 1;
  left: 0;
}

.btn-gradient{
  background: -webkit-linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* Standard syntax */
  text-decoration: none;
  width: 100%;
}


.input-icon {
  position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 47%;
  pointer-events: none;
  width: 25px;
  text-align: center;
	font-style: normal;
}

.input-icon > input {
  padding-left: 25px;
	padding-right: 0;
}