
// navbar 
.nav{
    display: block;
}
.navbar-collapse{
    box-shadow: none;
    margin-top: 20px;
    padding-left:0;
    padding-right: 0;
}
.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    transition: all 0.3s ease-in-out;
    visibility: visible !important;
    width: 100%;
}
#header_home{
  visibility: hidden;
}
.nav_links li a {
    padding: 0 16px;
    text-decoration: none;
    display: block;
    color: white;
  }
.nav_links li {
    display: block;
    padding: 10px;
    padding-left:40px;
    padding-right: 40px;
}
.nav>li>a:hover{
    background-color: transparent;
}
.nav>li:hover{
    background-color: $grijs3;
}
.nav>li:active{
    background-color: $lichtgroen;
}
.nav>li#nav-doneer:hover{
    background-color: $groen;
}
#nav_bar {
	border: 0;
	background-color: $grijs2;
	border-radius: 0px;
	margin-bottom: 0;
            // height: 60px;
  margin-top:20px;
  width: 100%;
  padding-bottom:0;
  padding-left:0;
  padding-right: 0;
}

.navbar-nav img{
  margin: 0 15px;
  width: 60px;
}
.navbar-brand{
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 3.8em;
}
.navbar-brand:hover{
    color: $grijs1;
}

#nav-doneer{
  background-color: $lichtgroen;
}
.navbar-header{
  flex-direction: row;
  margin-top:-20px;
  height: 80px;
}
.navbar-toggle{
  margin: 0 auto;
  margin-right: 50px;
  margin-top: 15px;
  background-color: $lichtgroen;
  height: 65px;
  color: white !important;
  border-radius: 0;
  width: 130px;
}
.navbar-toggle div{
    margin: 0 22px;
}


@media (min-width: 768px) {
    .nav_links {
    margin: 0 auto;
    height: 60px;
    display: table;
    margin-right: 20px;
  }
  .nav_links li {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  .navbar-header{
      height: 0;
  }
  #nav_bar{
      padding-top:0;
  }

}