//posts

.permalinkpage{
    width:70%;
    margin: 0 auto;
}

.permalinkpage .nieuwspost{
    margin-top: 6rem;
    padding:4rem;
}

.permalinkpage img{
    margin: 0 auto;
    margin-top:4rem;
}

.breadcrumb{
    color: $grijs3;
    background-color: transparent;
    padding-left:12rem;
    border-radius: 0;
    margin-top:-8rem;
}

.breadcrumb a{
    color: $grijs3;
    font-weight: 100;
}

.breadcrumb a:hover{
    color: $grijs2;
}

.breadcrumb a:active{
    color: $groen;
}

#post .carousel{
    border:none;
    margin-top:-15rem;
}

.foto-app .carousel-item img{
    height:200px;
    margin-top:0;
}



.container .breadcrumb{
    width:100vw;
    background-color: $grijs1;
    margin-left:-18rem;
}