<!--<nav id='nav_bar' class="navbar navbar-toggleable-md navbar-inverse" role="navigation">    
    <button class="navbar-toggle navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="{{ 'index.html' | relative_url }}"> <img src="{{ 'assets/images/logo.png' | relative_url }}" alt="logo"><span> {{ site.title }}</span></a></li>
    </ul>
    
    <div class="navbar-rechts container-fluid">
        <ul class='nav_links'>
            <li><a href="#app" class="nav-item nav-link">De app</a></li>
            <li><a href="#nieuws" class="nav-item nav-link">Nieuws</a></li>    
            <li><a href="#contact" class="nav-item nav-link">Contact</a></li>
            <li  id="nav-doneer"><a href="#doneer" class="nav-item nav-link">Doneer</a></li>
        </ul>
    </div>
</nav>-->

<nav id="nav_bar" class="navbar" role="navigation">

    <div class="navbar-header navbar-nav">
        <a class="navbar-brand" href="{{ 'index.html' | relative_url }}"><span><img src="{{ 'assets/images/logo.png' | relative_url }}" alt="logo"></span><span> {{ site.title }}</span></a>
        <a class="button navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <div> Menu &nbsp;<span class="glyphicon hamburger glyphicon-menu-hamburger"></span></div>
        </a>
        
    </div>
    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
      <ul class="nav nav_links">
        <li><a href="{{ 'index.html#app' | relative_url }}" class="nav-item nav-link">De app</a></li>
        <li><a href="{{ 'index.html#nieuws' | relative_url }}" class="nav-item nav-link">Nieuws</a></li>
        <li><a href="#contact" class="nav-item nav-link">Contact</a></li>
        <li id="nav-doneer"><a href="{{ 'index.html#doneer' | relative_url }}" class="nav-item nav-link">Doneer</a></li>
      </ul>
    </div>
</nav>