// Bootstrap overrides
//
// Copy variables from `https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss`
// to this file to override default values without modifying source files.

// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.


// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
$grijs1:   rgb(240, 240, 240);
$grijs2:   rgb(153, 153, 153);
$grijs3:   rgb(204,204,204);
$groen:    rgb(95,175,148);
$white:    #fff;
$lichtgroen: rgb(206,212,101);


// Reassign color vars to semantic color scheme
$brand-primary: $grijs2;

$btn-secondary-bg: $groen;
$btn-secondary-color: $white;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-shadows: true;
$enable-gradients: true;


// Components
//
// Define common padding and border radius sizes and more.

$border-radius: 10px;

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-padding-x: .8rem;
$btn-padding-y: .4rem;


// Import Bootstrap (installed by `bundler install`)

@import 'bootstrap';