---
layout: page
title: nieuws
permalink: /pages/allenieuws
---

<div class="breadcrumb">
<a href="{{ 'index.html' | relative_url }}">Home</a> > 
Alle blogposts
</div>

<h2>Al ons nieuws op 1 plaats</h2>

<ul>{% for post in site.posts %}
    <li>
        <a href="{{ post.url  | relative_url }}"> {{ post.title }}</a>
    </li>{% endfor %} 
</ul>
