---
layout: page
permalink: /pages/anderbedrag
title: Doneer een ander bedrag
---
<div class="jumbotron anderbedrag row">
    <h1>Wil je een ander bedrag doneren?</h1>
    <p>Dat kan! dus haal je bankkaart maar boven want je zou wel eens naar een betaalsite kunnen geleid worden! </p>
    <p>Draag je meer dan €20 bij? Dan ontvang je van ons nog steeds een link naar de bètaversie om die uit te kunnen testen! </p>
    <p>Draag je meer dan €50 bij? Dan krijg je ook de link naar de bètaversie en een persoonlijke ode in onze volgende nieuwsbrief! </p>
    <p>Draag je meer dan €100 bij? Wat ben jij toch geweldig! Ook voor jou zal de bètaversie en de ode niet ontbreken want jij bent echt onze held! Je komt bovendien op onze erelijst van bijdragers die we eeuwig dankbaar zullen zijn omwille van hun grote inzet. </p>

    <form id="betaalform" class="form-inline col-sm-12 col-md-4 offset-md-4"  method="get" action="{{ 'index.html' | relative_url }}">
        <div class="row">
            <div class="col-sm-12 form-group input-icon">
                <i>€</i>
                <input type="number" class="form-control" placeholder="0.00" step='0.01' value='0.00'>
            </div>
            <button type="submit" class="col-sm-12 submit btn btn-primary btn-gradient">Betalen!</button>
        </div>
  </form>
</div>