---
layout: page
permalink: /pages/bijdragers
title: Bijdragers
---

<div class="jumbotron  row">
    <div class="col-sm-12">
        <h2>Bedankt, o gulle heerlijkheden</h2>
    </div>
    
    <div class="col-sm-12 col-lg-10 offset-lg-1">
        
        <p> Onze eeuwige dank gaat uit naar zij die ons zo onbaatzuchtig steunden op onze weg naar het produceren van deze
nieuwe fantastische app die de wereld zal verbeteren.</p>
         <div class="row bijdragers">
            <div class="col-sm-3 col-md-4">
                <img class="img-fluid" src="{{ 'assets/images/bijdragers/nike.png' | relative_url }}" alt="Nike">
            </div>
            <div class="col-sm-9 col-md-8">
                <h3>Nike geeft gazze</h3>
                <p> Wij danken <a href="https://www.nike.com">Nike</a> voor de gulle sponsoring van €2.000!</p>
            </div>
            <div class="col-sm-3 col-md-4">
                <img class="img-fluid" src="{{ 'assets/images/bijdragers/crocs-logo.png' | relative_url }}" alt="Crocs">
            </div>
            <div class="col-sm-9 col-md-8">
                <h3>Crocs heeft dan toch smaak</h3>
                <p> <a href="https://www.crocs.com">Crocs</a> heeft het licht gezien en zag al het positieve wat we met het ontwikkelen van onze app kunnen bereiken. Bedankt voor de bijdrage van €1.200!</p>
            </div>
            <div class="col-sm-3 col-md-4">
                <img class="img-fluid" src="{{ 'assets/images/bijdragers/lacoste.gif' | relative_url }}" alt="Lacoste">
            </div>
            <div class="col-sm-9 col-md-8">
                <h3>Lacoste gaat sportief</h3>
                <p> Ook de prachtige krokodil van <a href="https://www.lacoste.com">Lacoste</a> heeft een interessant project geroken in GymCity. Ze stuenden ons met een bedrag van €1.800, dankjewel!</p>
            </div>

        </div>
    </div>


</div>