---
layout: page
permalink: /pages/ingeschreven
title: Ingeschreven
---

<div class="jumbotron ingeschreven row">
    <h1>Proficiat!</h1>
    <p>Je bent ingeschreven voor onze nieuwsbrief! Vanaf nu word je maandelijks op de hoogte gebracht van de laatste updates van GymCity, het spel dat sporten weer leuk maakt. Wil je ook de app mee testen in de <a href="/index.html/#doneer"> bètaversie</a>? Dat kan in ruil voor een kleine bijdrage! Je kunt de app dan testen, beoordelen en aan ons laten weten hoe jij denkt dat het nog beter kan. </p>
    <div class="col-xs-12 col-sm-6 offset-sm-3 col-lg-4 offset-lg-4 ">
        <a href="{{ 'index.html' | relative_url }}" class="submit-links btn btn-primary btn-gradient pull-right"><span>Keer terug naar de website</span></a>
    </div>
</div>