--- 
layout: page 
permalink: /pages/styleguide 
title: Styleguide 
---


<div class="styleguide">
    <h2>Style Guide </h2>

    
    <div class="row" id="style_logo">
        <h3 class="col-sm-12"> Logo&#39;s </h3>

        <div class="col-sm-12 col-md-4" id="logo_regular">
            <div class="card">
                <img class="img-responsive" src="{{ 'assets/images/styleguide/logo/logo.png' | relative_url }}" alt="logo">
                <div class="card-block">
                    <h4 class="card-title">Logo</h4>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4" id="logo_inverse">
            <div class="card">
                <img class="img-responsive" src="{{ 'assets/images/styleguide/logo/logo_inverse.png' | relative_url }}" alt="logo">
                <div class="card-block">
                    <h4 class="card-title">Invers logo</h4>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4" id="logo_baseline">
            <div class="card">
                <img class="img-responsive" src="{{ 'assets/images/styleguide/logo/logo_baseline.png' | relative_url }}" alt="logo">
                <div class="card-block">
                    <h4 class="card-title">Logo met baseline</h4>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="style_logo">
        <h3 class="col-sm-12"> Lettertypes </h3>
        <div class="col-sm-12 col-md-8">
            <img class="img-responsive" src="{{ 'assets/images/styleguide/oswald.jpg' | relative_url }}" alt="oswald">
        </div>
        <p class="col-sm-12"> De huisstijl van GymCity gebruikt overal het font Oswald, een Google font, gratis te downloaden op het werldwijde web. </p>
    </div>
    

    <div class="row" id="style_kleuren">
        <h3 class="col-sm-12"> Kleuren </h3>

        <div class="col-sm-12 col-md-4" id="kleur_groen">
            <div class="card">
                <div class="kleurtje"></div>
                <div class="card-block">
                    <h4 class="card-title">Donkergroen</h4>
                    <ul>
                        <li>
                            <span class="kleur_label"> RGB </span>
                            <span class="kleur_value"> 95 - 175 - 148 </span>
                        </li>
                        <li>
                            <span class="kleur_label"> CMYK </span>
                            <span class="kleur_value"> 77 - 0 - 53 - 0 </span>
                        </li>
                        <li>
                            <span class="kleur_label"> HEX </span>
                            <span class="kleur_value"> #5FAF94 </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4" id="kleur_lichtgroen">
            <div class="card">
                <div class="kleurtje"></div>
                <div class="card-block">
                    <h4 class="card-title">Lichtgroen</h4>
                    <ul>
                        <li>
                            <span class="kleur_label"> RGB </span>
                            <span class="kleur_value"> 206 - 212 - 101 </span>
                        </li>
                        <li>
                            <span class="kleur_label"> CMYK </span>
                            <span class="kleur_value"> 27 - 3 - 75 - 0 </span>
                        </li>
                        <li>
                            <span class="kleur_label"> HEX </span>
                            <span class="kleur_value"> #CED465 </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4" id="kleur_gradient">
            <div class="card">
                <div class="kleurtje"></div>
                <div class="card-block">
                    <h4 class="card-title">Gradiënt</h4>
                    <p> Gradiënt van groen naar lichtgroen </p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4" id="kleur_grijs1">
            <div class="card">
                <div class="kleurtje"></div>
                <div class="card-block">
                    <h4 class="card-title">Grijs 1</h4>
                    <ul>
                        <li>
                            <span class="kleur_label"> RGB </span>
                            <span class="kleur_value"> 240 - 240 - 240 </span>
                        </li>
                        <li>
                            <span class="kleur_label"> CMYK </span>
                            <span class="kleur_value"> 7 - 5 - 6 - 0 </span>
                        </li>
                        <li>
                            <span class="kleur_label"> HEX </span>
                            <span class="kleur_value"> #F0F0F0 </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4" id="kleur_grijs2">
            <div class="card">
                <div class="kleurtje"></div>
                <div class="card-block">
                    <h4 class="card-title">Grijs 2</h4>
                    <ul>
                        <li>
                            <span class="kleur_label"> RGB </span>
                            <span class="kleur_value"> 204 - 204 - 204 </span>
                        </li>
                        <li>
                            <span class="kleur_label"> CMYK </span>
                            <span class="kleur_value"> 23 - 17 - 18 - 1 </span>
                        </li>
                        <li>
                            <span class="kleur_label"> HEX </span>
                            <span class="kleur_value"> #CCCCCC </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4" id="kleur_grijs3">
            <div class="card">
                <div class="kleurtje"></div>
                <div class="card-block">
                    <h4 class="card-title">Grijs 3</h4>
                    <ul>
                        <li>
                            <span class="kleur_label"> RGB </span>
                            <span class="kleur_value"> 153 - 153 - 153 </span>
                        </li>
                        <li>
                            <span class="kleur_label"> CMYK </span>
                            <span class="kleur_value"> 41 - 31 - 32 - 11 </span>
                        </li>
                        <li>
                            <span class="kleur_label"> HEX </span>
                            <span class="kleur_value"> #999999 </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    

    <div class="row" id="style_screendesign">
        <h3 class="col-sm-12"> Screen designs </h3>

        <div class="col-sm-12 col-md-3">
            <div class="card">
                <img class="img-responsive" src="{{ 'assets/images/styleguide/screendesign/activiteit.png' | relative_url }}" alt="activiteit">
                <div class="card-block">
                    <p>Activiteit kiezen</p>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-3">
            <div class="card">
                <img class="img-responsive" src="{{ 'assets/images/styleguide/screendesign/gegevens.png' | relative_url }}" alt="gegevens">
                <div class="card-block">
                    <p>Gegevens</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-3">
            <div class="card">
                <img class="img-responsive" src="{{ 'assets/images/styleguide/screendesign/gegevens_activiteit.png' | relative_url }}" alt="gegevens detail">
                <div class="card-block">
                    <p>Details van de gegevens</p>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-3">
            <div class="card">
                <img class="img-responsive" src="{{ 'assets/images/styleguide/screendesign/doel_stappen_detail.png' | relative_url }}" alt="doelen aanpassen">
                <div class="card-block">
                    <p>Je doelen aanpassen</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="beeldmateriaal">
        <h3 class="col-sm-12"> Beeldmateriaal </h3>

        <div class="col-sm-12 col-md-6">
            <img class="img-responsive" src="{{ 'assets/images/styleguide/beeldmateriaal/fitness_home.jpg' | relative_url }}" alt="smartwatch mockup fitness">
        </div>

        <div class="col-sm-12 col-md-6">
            <img class="img-responsive" src="{{ 'assets/images/styleguide/beeldmateriaal/arm_stop_klein.jpg' | relative_url }}" alt="smarwatch mockup">
        </div>
        
        <div class="col-sm-12 col-md-6">
            <img class="img-responsive" src="{{ 'assets/images/styleguide/beeldmateriaal/mockup_samen.png' | relative_url }}" alt="mockup smartphone">
        </div>

        <div class="col-sm-12 col-md-6">
            <img class="img-responsive" src="{{ 'assets/images/styleguide/beeldmateriaal/stap2.png' | relative_url }}" alt="smartwatch">
        </div>

    </div>

    <div class="row" id="knoppen">
        <h3 class="col-sm-12"> Knoppen </h3>


        <h4 class="col-sm-12"> Navigatie </h4>

        <div class="navknoppen">
            <div class="col-sm-12 col-md-4" id="nav_normaal">
                <div class="card">
                    <div> 
                        <a href="#" class="btn btn-primary">De app</a>
                    </div>
                    <div class="card-block">
                        <p> Normale toestand navigatie knop</p>
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4" id="nav_hover">
                <div class="card">
                    <div> 
                        <a href="#" class="btn btn-primary">De app</a>
                    </div>
                    <div class="card-block">
                        <p> Hover toestand navigatie knop</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4" id="nav_active">
                <div class="card">
                    <div> 
                        <a href="#" class="btn btn-primary">De app</a>
                    </div>
                    <div class="card-block">
                        <p> Actieve toestand navigatie knop</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4" id="nav_doneer_normaal">
                <div class="card">
                    <div> 
                        <a href="#" class="btn btn-primary" id="doneer-button">Doneer</a>
                    </div>
                    <div class="card-block">
                        <p> Opvallende navigatieknop</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4" id="nav_doneer_hover">
                <div class="card">
                    <div> 
                        <a href="#" class="btn btn-primary" id="doneer-button">Doneer</a>
                    </div>
                    <div class="card-block">
                        <p> Hover toestand opvallende navigatieknop</p>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="col-sm-12"> Gradiënt </h4>

        <div class="gradientknoppen">
            <div class="col-sm-12 col-md-4" id="gr_normaal">
                <div class="card">
                    <div> 
                        <a href="#" class="submit btn btn-primary btn-gradient"><span>Verder</span></a>
                    </div>
                    <div class="card-block">
                        <p> Normale toestand gradiënt button</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4" id="gr_hover">
                <div class="card">
                    <div> 
                        <a href="#" class="submit btn btn-primary btn-gradient"><span>Verder &emsp; &raquo;</span></a>
                    </div>
                    <div class="card-block">
                        <p> Hover toestand gradiënt button</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4" id="gr_active">
                <div class="card">
                    <div> 
                        <a href="#" class="submit btn btn-primary btn-gradient"><span>Verder &emsp; &raquo;</span></a>
                    </div>
                    <div class="card-block">
                        <p> Normale toestand gradiënt button</p>
                    </div>
                </div>
            </div>


        </div>




    </div>
</div>